accelerate
einops
ftfy
imageio[ffmpeg]
matplotlib
modelscope
numpy
opencv-python
pandas
peft
Pillow
protobuf
pydantic>=2
pynvml
pytest
PyYAML
safetensors
scikit-learn
sentencepiece
torch>=2.0
torchvision
tqdm
transformers>=4.49,<5
wandb
