accelerate
einops
ftfy
imageio[ffmpeg]
matplotlib
modelscope
numpy
opencv-python-headless
pandas
peft
Pillow
protobuf
pydantic>=2
pynvml
pytest
PyYAML
omegaconf
typing_extensions>=4.4
safetensors
scikit-learn
sentencepiece
torch>=2.0
torchvision
tqdm
transformers>=4.49,<5
wandb
